<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Thymeleaf Form handling Demo</title>
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
	<h1 class="py-5">Thymeleaf Form handling Demo</h1>


	<form method="GET" th:action="@{/save/}" th:object="${msg}">
	<table>
	
		<label>Name</label>
		<label>Name</label>
		<label>Name</label>
	</table>

	</form>

</body>
</html>